<!DOCTYPE html>
<html>
        <%- include('../../partials/head') %>
<body>
        <%- include('../../partials/header') ; %>
 <main>
        <% for(let i = 0; i < data.length; i++) { %>
                <% for(let j = 0; j < data[i].length; j++) { %>
                        <% if (i === 0) { %>
                                <p id=<%= `letter${data[i][j].id}` %> class="letterMag" style="position: absolute; left: <%= data[i][j].x + 20 %>px; top: <%= data[i][j].y + 20 %>px; color: red;"><%= data[i][j].content %></p>
                        <% } else if (i === 1) { %>
                                <img id="meme<%= data[i][j].id %>" class="memeMag" style="position: absolute; left: <%= data[i][j].x + 50 %>px; top: <%= data[i][j].y + 50 %>px"src=<%= data[i][j].content %> alt="" height="100" width="100">
                        <% } else { %>
                                <p id="word<%= data[i][j].id %>" class="wordMag" style="position: absolute; left: <%= data[i][j].x %>px; top: <%= data[i][j].y %>px" ><%= data[i][j].content %></p>
                        <% } %>
                <% } %>
        <% } %>
     <figure>
            <img id="fridgeImg" src="img/fridges.png " ondrop="drop_handler(event);" ondragover="dragover_handler(event);">

     </figure>

 </main>
        <%- include('../../partials/footer'); %>

</body>

</html>

<!--draggable="true" ondragstart="dragstart_handler(event);" -->